[submodule "submodules/branchlog"]
	path = submodules/branchlog
	url = https://github.com/AcaciaLinux/branchlog
[submodule "submodules/branchcommons"]
	path = submodules/branchcommons
	url = https://github.com/AcaciaLinux/branchcommons
[submodule "submodules/pyleaf"]
	path = submodules/pyleaf
	url = https://github.com/AcaciaLinux/pyleaf
	branch = dev
[submodule "submodules/branchweb"]
	path = submodules/branchweb
	url = https://github.com/AcaciaLinux/branchweb
